<div class="interests-card">
  <h3>Interests</h3>
  <ul>
    <li *ngFor="let interest of interests">
      <!-- Si contiene una URL, crea el enlace cliqueable con el nombre formateado -->
      <a 
        *ngIf="getUrl(interest) !== '#'; else textoSimple" 
        [href]="getUrl(interest)" 
        target="_blank" 
        rel="noopener noreferrer" 
        style="color: inherit; text-decoration: underline;">
        {{ getText(interest) }}
      </a>

      <!-- Si es solo texto -->
      <ng-template #textoSimple>
        {{ interest.name || interest }}
      </ng-template>
    </li>
  </ul>
</div>
