<div class="interests-section">
  <h3>Interests</h3>
  <ul>
    <li *ngFor="let interest of interests">
      <ng-container *ngIf="esUrl(interest.name); else textoNormal">
        {{ obtenerTextoSinUrl(interest.name) }}
        <a [href]="obtenerUrl(interest.name)" target="_blank" rel="noopener noreferrer" class="text-primary">
          Ver enlace 🔗
        </a>
      </ng-container>

      <ng-template #textoNormal>
        {{ interest.name || interest }}
      </ng-template>
    </li>
  </ul>
</div>
